/ {
    pwmleds: pwmleds {
        compatible = "pwm-leds";
        status = "okay";


        /*
        This is the equivalent to:
        {
            .dev = DEVICE_DT_GET(DT_NODELABEL(pwm4)),
            .channel = 2,
            .period = x,
            .flags = PWM_POLARITY_NORMAL
        }
        */
        orange_pwm_led: orange_pwm_led {
            pwms = <&pwm4 2 PWM_KHZ(1) PWM_POLARITY_NORMAL>;
        };
    };

    aliases {
        orange-pwm-led = &orange_pwm_led;
    };
};

&timers4 {
    st,prescaler = <10000>;
    status = "okay";

    pwm4: pwm {
        status = "okay";
        pinctrl-0 = <&tim4_ch2_pd13>;
        pinctrl-names = "default";
    };
};